// Place all the styles related to the tests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.index_table_style {
  background: #00ffff; /* Цвет фона таблицы */
  border: 10px double #000; /* Рамка вокруг таблицы */
  padding: 5px; /* Поля вокруг текста */
  border: 3px solid #fff; /* Рамка вокруг ячеек */
  width: 50%;
  }
